body {
    text-align: none;
    background-color:white;
    color:black;
    font-family: 'Oswald';font-size: 14px;
} 

hr {
  clear:both;
  display:block;
  width: 96%;               
  background-color:black;
  height: 1px;
}


#line {
    float: left;
    width: 731px;
    height: 10px;
}

.text {
    font-size: 16px;
}